/* GLOBAL STYLES
-------------------------------------------------- */

/* Padding below the footer and lighter body text */
body {
//    padding-bottom: 40px;
    color: #5a5a5a;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
/* MARKETING CONTENT
-------------------------------------------------- */
/* Need this CSS to be for all views */
#splash-image {
    background-image: url('images/img-1.jpg');
    background-size: cover;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    opacity: .8;
    width:100%;
}

#ai-header-section-ttu-btn {
    background-color: #f26522 !important;
    border-radius: 5px;
    border: none;
    position: absolute;
    left: 50%;
    margin-left: -3em;
    bottom: -5px;
    opacity: 1;
    color: black !important;
}


/* Pad the edges of the mobile views a bit */
.marketing {
    padding-right: 15px;
    padding-left: 15px;
}
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}
/* Featurettes
------------------------- */
.featurette-divider {
    margin: 80px 0;
    /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 1000px){
    .row.blogRow
    {
        width:auto;
        height:300px;
        display:none;
        text-align: justify;
        color:#000;

    }
            li {
    list-style-type: none;
}
}

@media (min-width: 670px) {

    .row.blogRow
    {
        color:black;
        display:none;
        text-align: justify;
        margin: 0 auto;
        font-size:0.5em;
}
                li {
    list-style-type: none;}
    .blog-container
    {
    height:350px;
    }

}


@media (min-width: 768px) {
    /* Remove the edge padding needed for mobile */
    .marketing {
        padding-right: 0;
        padding-left: 0;
    }
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
    li 
    {
        list-style-type: none;
    }
    .blog-container
{
    height:350px;
}
}   
/* Blog mods -----------------------*/
.blogPost {
    float: left;
    padding: 10px;
    color: #000;
}
.blogImg {
    min-height:1px;
    max-height:250px;
    position:relative;
}
.blogBackImg
{
    background-size: 100% 10%;
}
.row.blogRow
{
    height: auto;
    width:auto;
    display:block;
    text-align: justify;
    color:#000

}
.blog-container
{
    height:auto;
}
/* Blog mods end ---------------------*/
/* Section mods ------------------*/
.title {
    margin-left: 10px;
}
.titleHolder {
    display: inline-block;
    float:left;
}
.grey {
    background-color:grey;
}
li {
    list-style-type: none;
}
.grey {
    background-color: #A9A9A9;
}
.black {
    background-color:#000;
}
/*---------social media----*/
.social-button {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 7px;
  border-radius: 85px;
  background-color: #745785;
  -webkit-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}
.social-button img {
  vertical-align:initial;
}
.social-button:hover {
  background-color: #f02e4e;
}
.button-block {
  margin-top: 17px;
}
/*------------------font--------------*/
body{
    font-family: 'Muli', sans-serif; font-weight:400;
    color: #000;
}
footer#footColor
{color:white;}
footer#footColor
a{ color:black !important}
